[defaults]
host_key_checking = False
timeout = 60
forks = 5
gather_timeout = 30
gather_subset = !all,!min

[privilege_escalation]
become_timeout = 60

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=600s -o ConnectTimeout=15
pipelining = True
